version: '{build}'
branches:
  only:
    - master
image:
  - Visual Studio 2017
environment:
  matrix:
    - generator: Visual Studio 15 2017
    - generator: Visual Studio 15 2017 Win64
build_script:
  - cmd: mkdir build && cd build && cmake --version &&  cmake .. -G "%GENERATOR" && cmake --build . -- /P:Configuration=Release
