Source: huskylib
Section: libs
Priority: optional
Maintainer: Pavel Andreew <pavel@collage.etel.ru>
Build-Depends: debhelper (>> 4.0.0), huskybase (>> 2.0-0)
Standards-Version: 3.5.8

Package: libhusky-dev
Section: libdevel
Architecture: any
Depends: libhusky1 (= ${Source-Version}), libc6-dev, huskybase (>> 2.0-0)
Description: Common library for all Husky-Packages
 huskylib include common functions for all Husky software:
 memory management, operations with strings, input/output for
 filesystem an so on.
 .
 This Package holds the Development files. Only needed if you want
 to compile other Husky-Packages.

Package: libhusky1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Suggests: libhusky-dev
Description: Common library for all Husky-Packages
 huskylib include common functions for all Husky software:
 memory management, operations with strings, input/output for
 filesystem an so on.
